


/********************************************************nav**********************************/

.logo img {
    position: fixed;
    top: 2%;
    width: 50px !important;
    height: 70px !important;
    z-index: 100;
    left: 3%;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    z-index: 1000;
}

.nav__button {
    z-index: 900;
    position: fixed;
    width: 50px;
    height: 20px;
    top: 40px;
    right: 3%;
}

.nav__button:hover {
    cursor: pointer;
}

.nav__button span {
    width: 39px;
    background: black;
    height: 2px;
    position: absolute;
    border-radius: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav__button span::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2.5px;
    background: black;
    top: 7px;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav__button span::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background: black;
    top: -7px;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav__button-hover:hover>span {
    width: 32px;
}

.nav__button-hover:hover>span::after {
    width: 29px;
}

.nav__menu {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 899;
    background: rgb(0 0 0 / 94%);
    overflow: hidden;
    -webkit-transition: all 0.8s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.8s cubic-bezier(0, 0, 0.2, 1);
}

.nav__menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    left: 65%;
    top: 20%;
}

.nav__menu__list a {
    margin: 20px 0;
}

.expandNav {
    height: 100vh;
}

.nav_button-animation span {
    background: #fff;
}

.nav_button-animation span::after {
    -webkit-transform: rotate(-50deg);
    transform: rotate( -56deg);
    background: #fff;
    width: 18px;
    left: 25px;
}

.nav_button-animation span::before {
    -webkit-transform: rotate(50deg);
    transform: rotate( 56deg);
    background: #fff;
    width: 18px;
    left: 25px;
}


/*navbar media query  */

@media (max-width:1024px) {
    .nav__menu__list {
        left: 58%;
        top: 15%;
    }
}

@media (max-width:770px) {
    .nav__menu__list {
        left: 52%;
        top: 11%;
    }
}

@media (max-width:680px) {
    .nav__menu__list {
        font-size: 40px;
        left: 54%;
        top: 11%;
    }
    .nav__menu__list a {
        margin: 12px 0;
    }
}

@media (max-width:600px) {
    .nav__menu__list {
        font-size: 40px;
        left: 48%;
        top: 12%;
    }
    .nav__menu__list a {
        margin: 10px 0;
    }
}

@media (max-width:415px) {
    .nav__menu__list {
        font-size: 40px;
        left: 32%;
        top: 14%;
    }
    .nav__menu {
        background: rgb(0 0 0 / 95%);
    }
}

@media (max-width:376px) {
    .nav__menu__list {
        left: 28%;
        top: 13%;
    }
}

@media (max-width:330px) {
    .nav__menu__list {
        font-size: 34px;
        left: 28%;
        top: 15%;
    }
}


/* end nav bar media query */


/******************/