@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
body,
html {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    font-family: 'Raleway', sans-serif !important;
}

.signup-section {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.right-div-signup {
    width: 50vw;
    position: absolute;
    right: 0%;
    height: 100%;
    background-color: #FF9D1C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}
.signup-form{
    width: 100%;
}
.left-text-with-logo {
    width: 50vw;
    display: flex;
    align-items: center;
}

.signup-text {
    text-align: center;
    color: black;
    margin: auto;
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-size: 2rem;
    padding: 0px 20px;
}

.small-screen-text {
    display: none;
}

.logo-img {
    width: 220px;
    height: 200px;
    margin-left: 150px;
}

.signup-header {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.container{
    width: 80%;
    margin: auto;
}
.label-input{
    height: 40px;
    width: 80%;
    padding: 16px 10%;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
}
strong{
    text-transform: uppercase;
}
.signup-label {
    font-size: 0.7rem;
    color: #fff;
    background-color: black;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


input[type=text],
input[type=PASSWORD] {
    width: 80%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text] {
    margin-bottom: 20px;
}
::placeholder {
    padding-left: 5px;
}
.signup-link {
    margin: 10px;
    margin-left: 10%;
    color: #FFF;
    letter-spacing: 1.1px;
}
.signup-link a {
    color: black;
}
button {
    background-color: black;
    color: white;
    padding: 14px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 80%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10%;
}

button:hover {
    opacity: 0.8;
}



/* media query */

@media (max-width: 1024px) {
    .container{
        width: 100%;
    }
    .signup-text {
        padding: 0px 0px;
    }
    .signup-label{
        font-size: 0.5rem;
    }
    
   .signup-link {
   font-size: 12px;
   }
}

@media (max-width: 767px) {
    .left-text-with-logo {
        display: none;
    }
    .right-div-signup {
        width: 100vw;
        flex-direction: column;
    }
    .small-screen-text {
        display: block;
        margin-top: 170px;
    }
}

@media (max-width: 600px) {
    .signup-text {
        font-size: 1.4rem;
        max-width: 400px;
    }
    .signup-header{
        margin: 20px 0;
    }
    .small-screen-text{
        margin-top: 140px;
    }
    .right-div-signup {
        height: unset;
    }
}

@media (max-width: 420px) {
    .signup-text {
        letter-spacing: 1px;
    }
    .small-screen-text {
        margin-top: 100px;
    }
}

@media (max-width: 376px) and (max-height: 668px) {
    .signup-text {
        font-size: 1.4rem;
    }
}

@media (max-width: 376px) and (min-height: 812px) {
    .right-div-signup {
        height: inherit !important;
    }
}